<div id="sheet-container">
  <div id="character-name-container">
    <input id="name-field" type="text" placeholder="Character Name" [(ngModel)]="char_name" />
    <div id="button-container">
      <button class="data-button" type="button" (click)="registerCharacter()">Save Changes</button>
      <button class="data-button" type="button" (click)="saveCharacter()">Save Character</button>
      <button class="data-button" type="button" (click)="loadCharacter(0)">Load Character</button>
    </div>
  </div>

  <!--/#button-container-->
  <!-- The character info section -->

  <div id="character-info-container">
    <!-- <h2>{{char_name}} the {{char_race}} of level {{char_level}}. This {{char_class}}</h2>
    <h2>from the background of the {{char_bg}}s, aligns morally with {{char_align}}</h2> -->

    <div class="stat-component">
      <label for="character-class">Class</label>
      <!-- Select creates a dropdown list in HTML.
    It needs a label (For accessability) that connects to that input/select tag of the same name="" attribute -> -->
      <select name="character-class" [(ngModel)]="char_class">
        <option value="">Select a Class</option>
        <option *ngFor="let class of classes">{{class.name}}</option>
      </select>
    </div>

    <div class="stat-component" id>
      <label for="character-level">Level</label><br>
      <input name="character-level" type="number" min="1" max="20" [(ngModel)]="char_level">
    </div>

    <div class="stat-component">
      <label for="character-background">Background</label><br>
      <select name="character-background" [(ngModel)]="char_bg">
        <option value="">Select a Background</option>
        <option *ngFor="let bg of backgrounds">{{bg.name}}</option>
      </select>
    </div>
    <div class="stat-component">
      <label for="character-race">Race</label><br>
      <select name="character-race" [(ngModel)]="char_race">
        <option value="">Select a Race</option>
        <option *ngFor="let r of race">{{r.name}}</option>
      </select>
    </div>
    <div class="stat-component">
      <label for="character-alignment">Alignment</label><br>
      <select name="character-alignment" [(ngModel)]="char_align">
        <option value="">Select an Alignment</option>
        <option *ngFor="let align of alignment">{{align}}</option>
      </select>
    </div>
  </div>


</div>
<!--/#character-info-container-->

<!--The character's HP and death saves-->
<div id="character-battle-container">

  <div class="flex-row" id="battle-container-row">
    <div id="ac-container">
      <label for="character-ac">AC</label>
      <div class="shield">
        <input name="character-ac" type="number" id="ac-input" [(ngModel)]="char_ac">
        <!-- <button type="button" (click)="pc_char.calcAC()">Calculate AC</button> -->
      </div>
    </div>

    <div id="initiative-container">
      <label for="character-initiative">Initiative</label>
      <input name="character-initiative" type="number" id="ac-input" [(ngModel)]="char_init">
      <!-- <button type="button">Roll Initiative</button> -->
    </div>

    <div id="speed-container">
      <label for="character-speed">Speed</label>
      <input type="number" name="character-speed" id="speed-input" [(ngModel)]="char_spd">
    </div>
  </div>

  <div class="flex-row">
    <div id="hp_container">
      <label for="current-hp">HP</label>
      <input name="current-hp" type="number" id="character_hp_current" class="hp_num" [(ngModel)]="char_hp"> /
      <input name="max-hp" type="number" min="1" id="character_hp_max" class="hp_num" [(ngModel)]="char_hp_max">
    </div>
    <div id="temp_hp_container">
      <label for="temp-hp">Temp HP</label>
      <input name="temp-hp" type="number" class="stat_num" [(ngModel)]="char_hp_temp">
    </div>
  </div>

  <div class="flex-row">
    <div id="character_hit_dice">
      <div id="total_hit_dice">Hit dice total</div>
      <div id="remaining_hit_dice">Remaining hit dice</div>
      <div id="hit_die_type">Hit die: 1d6</div>
    </div>

    <div id="death_saves">
      Death Saves
      <input name="success" type="number" min="0" max="3" [(ngModel)]="death_success">
      /
      <input name="failure" type="number" min="0" max="3" [(ngModel)]="death_fail">
    </div>
  </div>
</div>
<!--/#character-battle-container-->

<!--The character's stats-->
<div id="character-stats-container">

  <div id="str">
    <div class="stat_container">
      <label for="character-strength">Strength</label>
      <input type="number" min="0" max="25" name="character-strength" class="stat_num" [(ngModel)]="char_str">
      <p class="stat_mod">{{pc_char.char_strmod}}</p>
    </div>

    <div class="prof-container">
      <input type="checkbox" id="prof" name="strength_proficiency">
      <!-- <input type="number" name="strength_modifier" class="stat_num"> -->
      <label for="strength_proficiency" id="strength_throw">Saving Throw</label>
      <br>
      <input type="checkbox" id="prof" name="athletics_proficiency" [(ngModel)]="char_athl_p">
      <label for="athletics_proficiency" id="athletics_check"> {{pc_char.athletics}} Athletics</label>
    </div>
  </div>

  <div id="dex">
    <div class="stat_container">
      <label for="character-dexterity">Dexterity</label>
      <input type="number" min="0" max="20" name="character-dexterity" class="stat_num" [(ngModel)]="char_dex">
      <p class="stat_mod">{{pc_char.char_dexmod}}</p>
    </div>

    <div class="prof-container">
      <input type="checkbox" id="prof" name="dexterity_proficiency">
      <label for="dexterity_proficiency" id="dexterity_throw">Saving Throw</label>
      <br>
      <input type="checkbox" id="prof" name="acrobatics_proficiency" [(ngModel)]="char_acro_p">
      <label for="acrobatics_proficiency" id="acrobatics_check"> {{pc_char.acrobatics}} Acrobatics</label>
      <br>
      <input type="checkbox" id="prof" name="sleight_proficiency" [(ngModel)]="char_sleight_p">
      <label for="sleight_proficiency" id="sleight_check"> {{pc_char.sleight}} Sleight of Hand</label>
      <br>
      <input type="checkbox" id="prof" name="stealth_proficiency" [(ngModel)]="char_stealth_p">
      <label for="stealth_proficiency" id="stealth_check">Stealth</label>
    </div>
  </div>

  <div id="con">
    <div class="stat_container">
      <label for="character-constitution">Constitution</label>
      <input type="number" min="0" max="20" name="character-constitution" class="stat_num" [(ngModel)]="char_con">
      <p class="stat_mod">{{pc_char.char_conmod}}</p>
    </div>

    <div class="prof-container">
      <input type="checkbox" class="prof" name="constitution_proficiency">
      <label for="constitution_proficiency" id="constitution_throw">Saving Throw</label>
    </div>
  </div>

  <div id="int">
    <div class="stat_container">
      <label for="character-intelligence">Intelligence</label>
      <input type="number" min="0" max="20" name="character-intelligence" class="stat_num" [(ngModel)]="char_int">
      <p class="stat_mod">{{pc_char.char_intmod}}</p>
    </div>

    <div class="prof-container">
      <input type="checkbox" id="prof" name="intelligence_proficiency">
      <label for="intelligence_proficiency" id="intelligence_throw">Saving Throw</label>
      <br>
      <input type="checkbox" id="prof" name="arcana_proficiency" [(ngModel)]="char_arcana_p">
      <label for="arcana_proficiency" id="arcana_check"> {{pc_char.arcana}} Arcana</label>
      <br>
      <input type="checkbox" id="prof" name="history_proficiency" [(ngModel)]="char_hist_p">
      <label for="history_proficiency" id="history_check"> {{pc_char.history}} History</label>
      <br>
      <input type="checkbox" id="prof" name="investigation_proficiency" [(ngModel)]="char_invest_p">
      <label for="investigation_proficiency" id="investigation_check"> {{pc_char.investigation}} Investigation</label>
      <br>
      <input type="checkbox" id="prof" name="nature_proficiency" [(ngModel)]="char_nature_p">
      <label for="nature_proficiency" id="nature_check">{{pc_char.nature}} Nature</label>
      <br>
      <input type="checkbox" id="prof" name="religion_proficiency" [(ngModel)]="char_religion_p">
      <label for="religion_proficiency" id="religion_check"> {{pc_char.religion}} Religion</label>
    </div>
  </div>

  <div id="wis">
    <div class="stat_container">
      <label for="character-wisdom">Wisdom</label>
      <input type="number" min="0" max="20" name="character-wisdom" class="stat_num" [(ngModel)]="char_wis">
      <p class="stat_mod">{{pc_char.char_wismod}}</p>
    </div>
    <div class="prof-container">
      <input type="checkbox" id="prof" name="wisdom_proficiency">
      <label for="wisdom_proficiency" id="wisdom_throw">Saving Throw</label>
      <br>
      <input type="checkbox" id="prof" name="animal_proficiency" [(ngModel)]="char_animal_p">
      <label for="animal_proficiency" id="animal_check"> {{pc_char.animal}} Animal Handling</label>
      <br>
      <input type="checkbox" id="prof" name="insight_proficiency" [(ngModel)]="char_insight_p">
      <label for="insight_proficiency" id="insight_check"> {{pc_char.insight}} Insight</label>
      <br>
      <input type="checkbox" id="prof" name="medicine_proficiency" [(ngModel)]="char_med_p">
      <label for="medicine_proficiency" id="medicine_check"> {{pc_char.medicine}} Medicine</label>
      <br>
      <input type="checkbox" id="prof" name="perception_proficiency" [(ngModel)]="char_percep_p">
      <label for="perception_proficiency" id="perception_check"> {{pc_char.perception}} Perception</label>
      <br>
      <input type="checkbox" id="prof" name="survival_proficiency" [(ngModel)]="char_surv_p">
      <label for="survival_proficiency" id="survival_check"> {{pc_char.survival}} Survival</label>
    </div>
  </div>
  <div id="cha">
    <div class="stat_container">
      <label for="character-charisma">Charisma</label>
      <input type="number" min="0" max="20" name="character-charisma" class="stat_num" [(ngModel)]="char_cha">
      <p class="stat_mod">{{pc_char.char_chamod}}</p>
    </div>
    <div class="prof-container">
      <input type="checkbox" id="prof" name="charisma_proficiency">
      <label for="strength_proficiency" id="charisma_throw">Saving Throw</label>
      <br>
      <input type="checkbox" id="prof" name="deception_proficiency" [(ngModel)]="char_decep_p">
      <label for="deception_proficiency" id="deception_check"> {{pc_char.deception}} Deception</label>
      <br>
      <input type="checkbox" id="prof" name="intimidation_proficiency" [(ngModel)]="char_intim_p">
      <label for="intimidation_proficiency" id="intimidation_check"> {{pc_char.intimidation}} Intimidation</label>
      <br>
      <input type="checkbox" id="prof" name="performance_proficiency" [(ngModel)]="char_perform_p">
      <label for="performance_proficiency" id="performance_check"> {{pc_char.performance}} Performance</label>
      <br>
      <input type="checkbox" id="prof" name="persuasion_proficiency" [(ngModel)]="char_persua_p">
      <label for="persuasion_proficiency" id="persuasion_check"> {{pc_char.persuasion}} Persuasion</label>
    </div>
  </div>
</div>

<!--/#character-skill-container-->
<div id="character-attack-container">
  <ul></ul>
</div>

<!--/#container-->
